// Set your brand colors
$tomato: #ff6347;
$mint: #1e00ff;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: '"Montserrat", sans-serif',
  $primary: $tomato,
  $link: $mint,
  $control-border-width: 2px,
  $input-shadow: none,
  $footer-padding: 1rem,
  //$body-background-color: $mint,
);

// Import the Google Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

// others

  a[href] {
    text-decoration: underline;
    font-weight: 500;
  }